.game-roster-wrapper {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 14rem;

    .roster-seat {
        cursor: pointer;

        &:hover {
            .roster-seat-score {
                display: flex;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.active {

        }

        &-score {
            display: none;
            background-color: #FFF;
            position: absolute;
            right: -1.5rem;
            border: 1px solid #0000FF;
            border-radius: 1.25rem;
            width: 5rem;
            height: 2.35rem;
            z-index: -10;
            justify-content: flex-end;
            align-items: center;

            .score-label {
                margin-right: 0.35rem;
            }
        }

        &-dealer-icon {
            margin-left: 0.25rem;
            width: 4rem;
            height: 2rem;
            border: 1px solid #333;
            border-radius: 1.25rem;
            background-color: #00FFFF;

            div {
                padding: 0.5rem 0.55rem;
            }
        }

        &-bid-icon {

        }

        &-label {
            height: 1rem;
            width: 5.25rem;
            margin-left: 0.5rem;
        }
    }
}
