body {
    background-color: #03396c;
    margin: 0;
    padding: 0;
}

.wrapper {
    font-size: 12px;
    font-family: verdana;
    margin: 0;
    padding: 0;
}

/* containers */

@import "containers/game.containers.scss";

/* components */

@import "components/menu.bar.scss";

@import "components/lobby.table.scss";
@import "components/lobby.table.list.scss";

@import "components/game.match.winner.scss";
@import "components/game.round.winner.scss";
@import "components/game.trick.winner.scss";
@import "components/game.play.area.scss";
@import "components/game.roster.scss";
@import "components/game.bid.scss";
@import "components/game.suit.scss";
@import "components/game.card.scss";

/* pages */

@import "pages/lobby.page.scss";
@import "pages/login.page.scss";
@import "pages/game.page.scss";

